{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                    <h5 style="color: rgb(63, 63, 209)" class="mr-4">Username*</h5>
                    <h6>{{ user.username }}</h6>
                    <br>
                    <h5 style="color: rgb(63, 63, 209)" class="mr-4">Email*</h5>
                    <h6>{{ user.email }}</h6>
                    <br>
                    <h5 style="color: rgb(63, 63, 209)">Image*</h5>
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            </fieldset>
            {% if request.user.email == user.email %}
            <div class="form-group">
                <a class="btn btn-outline-primary" href="{% url 'profile-update' %}">Edit Profile</a>
            </div>
            {% endif %}
        </form>
    </div>
{% endblock content %}